<a href="https://colab.research.google.com/github/KhaledR/Numerical-Methods/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##If Statement

In [1]:
a = 12
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

##If.. Elif Statement

In [5]:
a = 100
b = 10

if b > a:
  print("b is greater than a")

elif a == b:
  print("a and b are equal")

##Else Statement

In [6]:
if b > a:
  print("b is greater than a")

elif a == b:
  print("a and b are equal")

else:
  print("a is greater than b")

a is greater than b

##Short Hand If Statement

In [7]:
if a > b: print("a is greater than b")

a is greater than b

##Short Hand If.. Else Statement

In [8]:
print('b is greater than a') if b > a else print('a is greater than b')

a is greater than b

##And - if both conditions are true

In [9]:
a = 100
b = 10
c = 45

if a > b and c > b:
  print('Both conditions are true')

Both conditions are true

##Or - if one of the conditions are true

In [10]:
if a > b or b > c:
  print('One condition is true')

One condition is true

##Nested If

In [16]:
x = int(input())

if x > 10:
  print("x is above 10")
  if x > 20:
    print('x is above 20')
    if x > 30:
      print('x is above 30')
      if x > 40:
        print('x is above 40')
        if x > 50:
          print('x is above 50')
        else:
          print('x is below 50')
else:
  print('x is below 10')

41
x is above 10
x is above 20
x is above 30
x is above 40
x is below 50

##Application 1

In [18]:
age = int(input())

if age >= 18:
  print('You are qualified to vote')

else: 
  print('You are not qualified to vote')

23
You are qualified to vote

##Application 2

In [22]:
x = int(input())

if x > 0:
  print('x is a positive number')

elif x == 0:
  print('x is zero')

else: 
  print('x is a negative number')

-7
x is a negative number

##Application 3

In [26]:
grade = int(input())

if grade >= 70:
  print('Passed')

elif grade == 69:
  print('Remedial')

else: 
  print('Failed')

88
Passed

##For Loop

In [27]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The break statement

In [28]:
for x in week:
  print(x)
  if x == 'Friday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

##Looping through a string

In [29]:
for x in "Week":
  print(x)

W
e
e
k

##Range() function

In [34]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [35]:
for x in range(2,6):
  print(x)

2
3
4
5

##While Loop

In [1]:
i = 1 

while i < 6:
  print(i)
  i += 1 #same as i = i+1

1
2
3
4
5

##The break statement

In [2]:
i = 1

while i < 6:
  print(i)
  if i == 3:
    break
    
  i += 1 #same as i = i+1

1
2
3

##The continue statement

In [4]:
i = 1

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6